<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" type="image/png" href="/img/favicon.ico" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{> title }}</title>
</head>

<body>
    <center>
    <div class="content">
        <header>
            <a href="/">{{> title }}</a>
            <center class="category-list">
                <a href="/category/Uncategorized">Uncategorized</a>
                {{#each category_cloud as |category| }}
                    | 
                <a href="/category/{{category}}">{{category}}</a>
                {{/each}}
            </center>
        </header>

        <article>
            <h1>{{post.title}}</h1>
            <time datetime="{{date}}">{{date}}</time>
            <div class="post-meta">
                <div class="category-line">
                    {{#each post.categories as |category| }}
                    <span class="category-item"><a href="/category/{{category}}">{{category}}</a></span>
                    {{/each}}
                </div>
                <div class="split">|</div>
                <div class="tag-line">
                    {{#each post.tags as |tag| }}
                        <span class="category-item"><a href="/tag/{{tag}}">{{tag}}</a></span>
                    {{/each}}
                </div>  
            </div>

            <section>
                {{{post.content}}}
            </section>

            {{> author }}
        </article>

        {{> footer }}
    </div>
    </center>
</body>
</html>